body{
    background-color: black;
}
#d1{
    width:400px;
    height: 500px;
    margin-left: 300px;
    margin-top: 80px;
}
#d2{
    width: 400px;
    text-align:left;
    margin-top:-350px ;
    margin-left: 900px;
    color:antiquewhite;
    font-size: large;
}
h{
    color:red;
    font-size: xx-large;
    font-weight: bold;
}
td{
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 20px;
    color: antiquewhite;   
}
#td1{
    font-size:large;
    font-weight: lighter;
    color: antiquewhite;
}
#td2{
    font-size:large;
    font-weight: lighter;
    padding-bottom: 40px;
    color: antiquewhite;
}
#td3{
    font-size:medium;
    font-weight: lighter;
    color: gray;
    padding-bottom: 20px;
}
input{
    width:250px;
    border-radius: 10px;
}
#i2{
    background-color: green;
    color: greenyellow;
    border-radius: 10px;
    height: 25px;
}
#a4{
    color: white;
    font-size:  medium;
    font-weight: lighter;
}
#a1{
    width:90px;
    height: 35px;
    border-radius: 10px;
}
#a2{
    width:90px;
    height: 35px;
    margin-right: 25px;
    border-radius: 10px ;
}
#img2{
    height: 5px;
    width: 100%;
    position: absolute;
    top: 90%;
}
#icon{
    width: 20px;
    height: 20px;
    border-radius: 100px;
    margin-bottom:-5px;
}
#img1{
    width:350px;
    height:250px;
}
button{
    width: 110px;
    height: 40px;
    border-radius: 10px;
}
p{
    font-size:  medium;
    font-weight: lighter;
}
